@font-face {
	font-family: Inconsolata;
	font-display: swap;
	src: url("../fonts/Inconsolata.woff2") format("woff2"), url("../fonts/Inconsolata.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "Inconsolata Condensed";
	font-display: swap;
	src: url("../fonts/Inconsolata_Condensed.woff2") format("woff2"),
		url("../fonts/Inconsolata_Condensed.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Inter;
	font-display: swap;
	src: url("../fonts/Inter-Black.woff2") format("woff2"), url("../fonts/Inter-Black.woff") format("woff");
	font-weight: 900;
	font-style: normal;
}
